parameters:
    level: 5
    paths:
        - app
    excludePaths:
        - app/common/model/*
    ignoreErrors:
        - '#Call to an undefined method think\\#'
        - '#Access to an undefined property think\\#'
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
